{
    "bin": [
        "bin/greet"
    ],
    "autoload": {
        "psr-4": {
            "PhpScoper598627d709dd4\\Set011\\": "src/",
            "Set011\\": "src/"
        }
    },
    "autoload-dev": {
        "psr-4": {
            "Set011\\": "tests/"
        }
    }
}
