/bin/php-scoper*.phar
/bin/php-scoper*.phar.pubkey
/bin/php-scoper.phar*.pubkey
/box.json
/build/
/dist/
/fixtures/set004/scoper.inc.php
/fixtures/*/vendor
/vendor/
/vendor-bin/box/vendor/
/.travis/
!/.travis/.gitkeep
