/bin/
!/bin/php-scoper
!/bin/root-version.php
/.box_dump/
/box.json
/build/
/clover.xml
/dist/
/fixtures/set004/scoper.inc.php
/fixtures/*/.box_dump/
/fixtures/*/vendor/
/fixtures/set028-symfony/expected-output
/fixtures/set030/composer.lock
/fixtures/set030/expected-output
/fixtures/set031-extension-symbol/expected-output
.phpunit*
/vendor/
/vendor-bin/*/vendor/
/vendor-bin/*/bin/
/.phpcs-cache
/phpcs.xml
