# Make sure heredoc with "\n" endings used in the tests is interpreted equally
# on Windows and Unix
*.php text eol=lf

# Ignore all test and documentation with "export-ignore".
/.composer-root-version          export-ignore
/.gitattributes                  export-ignore
/.gitignore                      export-ignore
/.github/                        export-ignore
/.php-cs-fixer.dist.php          export-ignore
/.scrutinizer.yml                export-ignore
/_specs/                         export-ignore
/bin/infection.sh                export-ignore
/box.json.dist                   export-ignore
/build/                          export-ignore
/composer-root-version-checker/  export-ignore
/docs/                           export-ignore
/Dockerfile                      export-ignore
/infection.json.dist             export-ignore
/fixtures/                       export-ignore
/.makefile/                      export-ignore
/Makefile                        export-ignore
/phpstan.neon.dist               export-ignore
/phpunit.xml.dist                export-ignore
/rector.php                      export-ignore
/scoper.inc.php                  export-ignore
/specs/                          export-ignore
/tests/                          export-ignore
/vendor-bin/                     export-ignore
