/bin/
!/bin/php-scoper
/.box_dump/
/box.json
/build/
/clover.xml
/dist/
/fixtures/set004/scoper.inc.php
/fixtures/*/.box_dump/
/fixtures/*/vendor/
.phpunit*
/vendor/
/vendor-bin/*/vendor/
/vendor-bin/*/bin/
/.phpcs-cache
/phpcs.xml
