{
    "chmod": "0755",

    "algorithm": "OPENSSL",
    "key": ".travis/php-scoper-private.pem",

    "compression": "GZ",

    "compactors": [
        "Herrera\\Box\\Compactor\\Json",
        "KevinGH\\Box\\Compactor\\PhpScoper",
        "Herrera\\Box\\Compactor\\Php"
    ]
}
