parameters:
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false

    excludePaths: []

    ignoreErrors:
        - message: '#Cannot cast array\<string\>\|string to string\.#'
          path: 'src/Patcher/SymfonyPatcher.php'
        - message: '#Parameter \#1 \$nodes of method PhpParser\\NodeTraverserInterface::traverse\(\) expects array\<PhpParser\\Node\>, array\<PhpParser\\Node\\Stmt\>\|null given\.#'
          path: 'src/Scoper/PhpScoper.php'
        - message: '#UseStmtName::getUseStmtAliasAndType\(\) should return#'
          path: 'src/PhpParser/UseStmtName.php'
        - message: '#UseStmtManipulator::getOriginalName\(\) should return#'
          path: 'src/PhpParser/NodeVisitor/UseStmt/UseStmtManipulator.php'
        - message: '#IdentifierResolver::resolveIdentifier\(\) should return#'
          path: 'src/PhpParser/NodeVisitor/Resolver/IdentifierResolver.php'
        - message: '#ParentNodeAppender::getParent\(\) should return#'
          path: 'src/PhpParser/NodeVisitor/ParentNodeAppender.php'
        - message: '#ParentNodeAppender::findParent\(\) should return#'
          path: 'src/PhpParser/NodeVisitor/ParentNodeAppender.php'
        - message: '#OriginalNameResolver::getOriginalName\(\) should return#'
          path: 'src/PhpParser/NodeVisitor/OriginalNameResolver.php'
        - message: '#NamespaceManipulator::getOriginalName\(\) should return#'
          path: 'src/PhpParser/NodeVisitor/NamespaceStmt/NamespaceManipulator.php'
        - message: '#Dead catch#'
          path: 'tests/Scoper/PhpScoperTest.php'
        - message: '#Dead catch#'
          path: 'tests/Scoper/PhpScoperSpecTest.php'
        - message: '#Cannot assign offset#'
          path: 'tests/Scoper/PhpScoperSpecTest.php'
        - message: '#DummyScoperFactory extends @final#'
          path: 'tests/Console/Command/DummyScoperFactory.php'
        - message: '#Anonymous function should return string but returns array#'
          path: 'tests/Console/Command/AddPrefixCommandIntegrationTest.php'
        - message: '#AddPrefixCommandIntegrationTest\:\:getNormalizeDisplay\(\) should return string but returns array#'
          path: 'tests/Console/Command/AddPrefixCommandIntegrationTest.php'
        - message: '#ConfigurationKeysTest\:\:retrieveConfigurationKeys\(\) should return array#'
          path: 'tests/Configuration/ConfigurationKeysTest.php'
