parameters:
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    excludes_analyse:
        - src/Console/Command/AddPrefixCommand.php
    ignoreErrors:
        - message: '#Cannot cast array\<string\>\|string to string\.#'
          path: 'src/Patcher/SymfonyPatcher.php'
        - message: '#Parameter \#1 \$nodes of method PhpParser\\NodeTraverserInterface::traverse\(\) expects array\<PhpParser\\Node\>, array\<PhpParser\\Node\\Stmt\>\|null given\.#'
          path: 'src/Scoper/PhpScoper.php'
        - message: '#Parameter \#2 \$input1 of function array_map expects array, array\<int, string\>\|false given\.#'
          path: 'src/Autoload/ScoperAutoloadGenerator.php'

        - message: '#Reflector::createSymbolList\(\)#'
          path: 'src/Reflector.php'
