<?xml version="1.0" encoding="UTF-8"?>

<!--
This file is part of the humbug/php-scoper package.

(c) 2017 Bernhard Schussek (pre-2017), Théo Fidry, Pádraic Brady

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
-->

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheResultFile="build/.phpunit.result.cache"
>
    <php>
        <env name="NO_COLOR" value="1"/>
    </php>

    <testsuites>
        <testsuite name="PHP-Scoper Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
