{
    "timeout": 10,
    "source": {
        "directories": [
            "../../src"
        ]
    },
    "phpUnit": {
        "configDir": "../../",
        "customPath": "../../vendor/phpunit/phpunit/phpunit"
    },
    "bootstrap": "../../vendor/autoload.php",
    "logs": {
        "text": "../../build\/infection-log.txt"
    },
    "mutators": {
        "@default": true,
        "PublicVisibility": false
    }
}
