{
    "$schema": "fixtures/set020-infection/vendor/infection/infection/resources/schema.json",

    "timeout": 1,
    "source": {
        "directories": [
            "../../src"
        ],
        "excludes": [
            "../../src/PhpParser"
        ]
    },
    "phpUnit": {
        "configDir": "../../",
        "customPath": "../../vendor/phpunit/phpunit/phpunit"
    },
    "initialTestsPhpOptions": "--group default",
    "testFrameworkOptions": "--group default",
    "bootstrap": "../../vendor/autoload.php",
    "logs": {
        "text": "../../infection-log.txt"
    },
    "mutators": {
        "@default": true,
        "PublicVisibility": false,
        "UnwrapArrayUnique": false
    }
}
