{
    "output": "build/set015/bin/greet.phar",
    "main": "bin/greet.php",
    "base-path": "build/set015",
    "directories": [
        "src",
        "vendor"
    ],
    "compression": "GZ",
    "compactors": [
        "Herrera\\Box\\Compactor\\Json",
        "Herrera\\Box\\Compactor\\Php"
    ],
    "stub": true
}
