name: RootVersionChecker

on:
    push:
        branches: [ main ]
    pull_request:

jobs:
    cs-lint:
        runs-on: ubuntu-latest
        name: CS lint
        strategy:
            fail-fast: false
            matrix:
                php: [ '8.1' ]  # Should be the latest PHP version supported

        steps:
            -   name: Checkout
                uses: actions/checkout@v3

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: "${{ matrix.php }}"
                    tools: composer

            # https://docs.github.com/en/actions/learn-github-actions/workflow-commands-for-github-actions#setting-an-environment-variable
            -   name: Configure composer root version
                run: |
                    source .composer-root-version
                    echo "COMPOSER_ROOT_VERSION=${COMPOSER_ROOT_VERSION}" >> $GITHUB_ENV

            -   name: Install the Composer (root) dependencies
                uses: ramsey/composer-install@v2

            -   name: Install PHP-CS-Fixer
                uses: ramsey/composer-install@v2
                with:
                    working-directory: 'vendor-bin/php-cs-fixer'

            -   name: Install the Composer dependencies
                uses: ramsey/composer-install@v2
                with:
                    working-directory: 'composer-root-version-checker'

            -   name: Lints CS
                run: cd composer-root-version-checker; make cs_lint --debug

    tests:
        runs-on: ubuntu-latest
        name: Tests
        strategy:
            fail-fast: false
            matrix:
                php: [ '8.1' ]  # Should be the latest PHP version supported

        steps:
            -   name: Checkout
                uses: actions/checkout@v3

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: "${{ matrix.php }}"
                    tools: composer

            -   name: Install the Composer dependencies
                uses: ramsey/composer-install@v2
                with:
                    working-directory: 'composer-root-version-checker'

            -   name: Runs the tests
                run: cd composer-root-version-checker; make test
