name: RootVersionChecker

on:
    push:
        branches: [ main ]
    pull_request:

jobs:
    cs-lint:
        runs-on: ubuntu-latest
        name: CS lint
        strategy:
            fail-fast: false
            matrix:
                php: [ '8.1' ]  # Should be the latest PHP version supported

        steps:
            -   name: Checkout
                uses: actions/checkout@v3

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: "${{ matrix.php }}"
                    tools: composer

            -   name: Install PHP-CS-Fixer
                uses: ramsey/composer-install@v2
                with:
                    working-directory: 'vendor-bin/php-cs-fixer'
                    tools: composer

            -   name: Ensures the makefile does not remake the PHP-CS-Fixer target
                run: touch -c vendor-bin/php-cs-fixer/vendor/friendsofphp/php-cs-fixer/php-cs-fixer

            -   name: Install the Composer dependencies
                uses: ramsey/composer-install@v2
                with:
                    working-directory: 'composer-root-version-checker'

            -   name: Lints CS
                run: make cs_lint

    tests:
        runs-on: ubuntu-latest
        name: Tests
        strategy:
            fail-fast: false
            matrix:
                php: [ '8.1' ]  # Should be the latest PHP version supported

        steps:
            -   name: Checkout
                uses: actions/checkout@v3

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: "${{ matrix.php }}"
                    tools: composer

            -   name: Install the Composer dependencies
                uses: ramsey/composer-install@v2
                with:
                    working-directory: 'composer-root-version-checker'

            -   name: Runs the tests
                run: make test
