name: Security

on:
    push:
        branches: [ main ]
    pull_request: ~
    release:
        types: [ created ]
    schedule:
      # Do not make it the first of the month and/or midnight since it is a very busy time
          - cron: "* 10 5 * *"

# See https://stackoverflow.com/a/72408109
concurrency:
    group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
    cancel-in-progress: true

jobs:
    security:
        runs-on: ubuntu-latest
        name: Check Dependencies
        steps:
            -   name: Checkout
                uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
                with:
                    fetch-depth: 0

            -   name: Cache the vulnerability database
                uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
                id: cache-db
                with:
                    path: ~/.symfony/cache
                    key: db

            -   name: Checks dependencies for known vulnerabilities
                uses: symfonycorp/security-checker-action@258311ef7ac571f1310780ef3d79fc5abef642b5 # v5
