name: Tests

on:
    push:
        branches: [ main ]
    pull_request: ~
    release:
        types: [ created ] ~
    schedule:
      # Do not make it the first of the month and/or midnight since it is a very busy time
          - cron: "* 10 5 * *"

# See https://stackoverflow.com/a/72408109
concurrency:
    group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
    cancel-in-progress: true

jobs:
    root-version:
        runs-on: ubuntu-latest
        name: Check COMPOSER_ROOT_VERSION value
        if: github.event_name != 'release' && github.event.action != 'created'
        steps:
            -   name: Checkout
                uses: actions/checkout@v3
                with:
                    fetch-depth: 0

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: '8.2'
                    tools: composer
                    coverage: none

            -   name: Install Composer dependencies
                uses: ramsey/composer-install@v2
                with:
                    working-directory: 'composer-root-version-checker'

            -   name: Check COMPOSER_ROOT_VERSION
                run: make composer_root_version_lint

    composer-json:
        runs-on: ubuntu-latest
        name: Check the Composer package
        steps:
            -   name: Checkout
                uses: actions/checkout@v3
                with:
                    fetch-depth: 0

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: '8.2'
                    tools: composer
                    coverage: none

            -   name: Validate Composer configuration
                run: make validate_package

    unit-tests:
        runs-on: ubuntu-latest
        name: Unit tests (PHP ${{ matrix.php }})
        strategy:
            fail-fast: false
            matrix:
                php:
                    - '8.1'
                    - '8.2'
        steps:
            -   name: Checkout
                uses: actions/checkout@v3
                with:
                    fetch-depth: 0

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php }}
                    tools: composer
                    coverage: none

            # https://docs.github.com/en/actions/learn-github-actions/workflow-commands-for-github-actions#setting-an-environment-variable
            -   name: Configure composer root version
                run: |
                    source .composer-root-version
                    echo "COMPOSER_ROOT_VERSION=${COMPOSER_ROOT_VERSION}" >> $GITHUB_ENV

            -   name: Install Composer dependencies
                uses: ramsey/composer-install@v2

            -   name: Run tests
                run: make phpunit

    # This is a "trick", a meta task which does not change, and we can use in
    # the protected branch rules as opposed to the tests one above which
    # may change regularly.
    validate-tests:
        name: Unit tests Status
        runs-on: ubuntu-latest
        needs:
            - root-version
            - composer-json
            - unit-tests
        if: always()
        steps:
            - name: Successful run
              if: ${{ !(contains(needs.*.result, 'failure')) }}
              run: exit 0

            - name: Failing run
              if: ${{ contains(needs.*.result, 'failure') }}
              run: exit 1
